<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <system.webServer>

        <handlers>

            <remove name="django.project#x64" />
            <remove name="django.project#x86" />
            <add name="Django handler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\inetpub\sumi_api\python_gym\venv\Scripts\python.exe|C:\inetpub\sumi_api\python_gym\venv\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" />
        </handlers>
    </system.webServer>
</configuration>